body {margin: 0%;}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topDiv{
    height: 33.33vh;
    background-color: #BA4F3F ;
}

.midDiv{
    height: 33.33vh;
    background-color: #FFF200 ;
}

.bottomDiv{
    height: 33.33vh;
    background-color: #FFFFFF;
}

button{
    background-color: black;
    color: #FFFFFF;
}